body {
    background-color: rgb(36, 40,46);
}

textarea {
    background-color: rgb(36, 40,46);
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: #aaa;
    border: solid 1px #ccc;
    margin: 0 0 20px;
    width: 300px;
    -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#loc {
    position: absolute;
    left: 140px;
    top: 250px;
    font-size: 3em;
    font-family: Arial, sans-serif;
    color: rgb(14, 26, 45);
    text-shadow:
    0 0 25px #edf8ff,
    0 0 20px #edf8ff,
    0 0 0.40px #edf8ff;
}
