body {
    background-color: rgb(36, 40,46);
}

#container {
    width: 1024px;
    margin: 0 auto;
}

#code {
    width: 300px;
    height: 600px;
    float: left;
    align: center;
}

#codeView {
    position: relative; /* 相対座標 */
    background-color: rgb(28, 31, 34);
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: #aaa;
    border: solid 1px #ccc;
    margin: 0 0 0;
    width: 278px;
    -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#dualDisplay {
    display: none;
    position: relative; /* 相対座標．本来の位置に対する相対座標らしい． */
    float: left;
    background-color: rgb(28, 31, 34);
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: #aaa;
    border: solid 1px #ccc;
    margin: 0 0 20px;
    width: 278px;
    height: 226px;
    -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#loc {
    position: relative; /* 相対座標 */
    top: -250px;
    margin-top: -1.0em;
    z-index: 2;
    text-align: center;
    font-size: 3em;
    font-family: Arial, sans-serif;
    color: rgb(14, 26, 45);
    text-shadow:
    0 0 25px #edf8ff,
    0 0 20px #edf8ff,
    0 0 0.40px #edf8ff;
}

#item {
    position: relative;
    width: 724px;
    height: 600px;
    float: left;
    align: right;
}

#status {
    position: relative;
    float: left;
    margin: 0px 20px 20px;
}

#text {
    position: relative;
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color: #171616;
    margin-top: 65px;
    margin-bottom: 65px;
    text-shadow:
    0 0 12px #edf8ff,
    0 0 10px #edf8ff,
    0 0 0.20px #edf8ff;
}

#statusView {
    position: relative; /* 相対座標 */
    float: left;
    background-color: rgb(36, 40,46);
    border: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #aaa;
    border-top   :solid 5px #ccc;
    border-right :none;
    border-bottom:solid 5px #ccc;
    border-left  :none;
    width: 338px;
    height: 280px;
}
#statusView .title {
    text-decoration:underline;
    font-size: 1.3em;
}
#statusView .body {
    font-size: 0.9em;
}

.itemnum {
    text-align: right;
}

.cps {
    text-align: right;
    font-size: 1.3em;
}

#member {

}

#message {
    margin-top: -10px;
    margin-left: 10px;
    width: 156px;
    float: left;
    color: #fff;
}

.message {
    background-color: rgb(35, 36, 61);
    border: 2px solid #fff;
    color: #fff;
    width: 130px;
    height: 45px;
    font-size: 0.6em;
    margin: 5px; /* 他コンテンツとの余白 */
    padding: 5px; /* borderと文字の間の余白 */
    vertical-align: middle;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.message:after {
    content: "";
    position: relative;
    top: 7px;
    right: -136px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

#shop {
    width: 156px;
    float: right;
    color: #fff;
}

.button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    line-height: 45px; /* heightと同じで文字が中央に来る */
    width: 180px;
    height: 45px;
    font-size: 0.6em;
    margin: 5px; /* 他コンテンツとの余白 */
    padding: 5px; /* borderと文字の間の余白 */
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
.button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.itemname {
    text-align: left; /* 文字左寄せ */
    float: left;
}

.itemprice {
    text-align: right;
}

/*
.a_demo_five {
	background-color:#3bb3e0;
	width:150px;
	display:inline-block;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	margin-top:40px;
	padding-bottom:10px;
	padding-top:10px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_five:active {
	top:0px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 4px 1px #0b698b, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: 0px 2px 0px 1px #156785, 0px 5px 3px #999;
	-o-box-shadow: 0px 2px 0px 1px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 4px 1px #0b698b, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.a_demo_five::before {
	background-color:#fff;
	background-image:url(../images/heart.gif);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:150px;
	height:60px;
	position:absolute;
	top:-40px;
	left:0px;
	margin-top:-11px;
	z-index:-1;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.a_demo_five:active::before {
	top: -40px;
	-webkit-box-shadow: 0px 3px 0px #ccc;
	-moz-box-shadow: 0px 3px 0px #ccc;
	-o-box-shadow: 0px 3px 0px #ccc;
	box-shadow: 0px 3px 0px #ccc;
}
*/
#timer {
    clear: both;
}

#timerView {
    position: relative;
    color: #aaa;
    margin: -40px;
    float: right;
    left: -50px;
    font-size: 2em;
}

#progressbar {
    margin: 0px;
    width: 200px;
    height: 8px;
}
